<!doctype html>
<html lang="{{DEFAULT_LANG}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{SITENAME}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <!-- {% include "theme/menu.html" %} -->
      {% block body %} {% endblock body %}
    </div>
    <script src="/theme/js/bootstrap.bundle.min.js"></script>
    <script src="/theme/js/konami.js"></script>
    <script src="/theme/js/game.js"></script>
    <script src="/theme/js/egg.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1LFK00JXP6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-1LFK00JXP6');
    </script>
  </body>
</html>
