{% extends "theme/base.html" %}
{% set home = (articles|get_by_slug("sobre")) %}

{% block body%}
<section class="px-4 text-center header-container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6 p-5">
      <img src="/theme/images/logo-bg-yellow.png" alt="logo do evento python brasil 2024" class="img-fluid logo">
    </div>
    <div class="col-12 col-md-5 p-5">
      <div class="text-right-header text-end">
        16 a 21 de outubro de 2024<br>
        Centro de Convenções Bolsa do Rio<br>
        Praça XV - Rio de Janeiro - RJ<br>
      </div>
    </div>
  </div>
</section>
<section id="sobre" class="p-4 event-container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6">
      <h2 class="subtitle">O evento</h2>
      <p>
        A Python Brasil é um evento feito pela comunidade para a Comunidade.
      </p>
      <p>
        A edição brasileira é a maior conferência da linguagem de programação Python da América Latina. A Python Brasil
        orgulha-se de ser um ambiente seguro, amistoso, inclusivo e acessível, onde todas as pessoas são bem-vindas e
        possam se sentir à vontade, aproveitando o melhor que o evento tem a oferecer.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
      <div class="cloud-images p4">
          <p>
            <img src="/theme/images/blob-16.png" alt="imagens do evento anterior" class="img-fluid img-cload-1">
            <img src="/theme/images/blob-19.png" alt="imagens do evento anterior" class="img-fluid img-cload-2">
          </p>
        <p>
          <img src="/theme/images/blob-11.png" alt="imagens do evento anterior" class="img-fluid img-cload-3">
          <img src="/theme/images/blob-21.png" alt="imagens do evento anterior" class="img-fluid img-cload-4"></p>
      </div>
    </div>
  </div>
</section>
<section id="local" class="p-4 text-center local-container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6 text-start">
      <h2 class="subtitle">O local</h2>
      <p>
        As palestras acontecerão no Centro de Convenções Bolsa de Valores, na Praça XV, um local central no Rio de
        Janeiro, em um auditório com capacidade para até 1000 pessoas.
      </p>
      <p class="text-center">
        <iframe width="80%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.2998927601207!2d-43.17701722501305!3d-22.902306979258235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9981e20355b637%3A0x908e903f9521cbdf!2sEdificio%20Bolsa%20do%20Rio!5e0!3m2!1sen!2sdo!4v1707066182252!5m2!1sen!2sdo" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
      <div class="p4">
        <img src="/theme/images/local.png" alt="imagens do evento anterior" class="img-fluid img-local">
      </div>
    </div>
  </div>
</section>
<section id="patrocine" class="p-4 text-center local-container">
  <div class="row">
    <div class="col-12">
      <h2 class="subtitle">Como patrocinar o evento</h2>
      <p>
        Todos os anos, temos o objetivo de fazer um evento cada vez mais transformador. E para que um evento desse porte aconteça, dependemos de indivíduos e empresas que acreditam e apoiam a comunidade Python e que entendem a importância de eventos como a Python Brasil para exposição da sua marca, divulgação do seu produto e para o recrumentamento e seleção de indivíduos para trabalhar com tecnologia.
      </p>
      <p>
        Caso você, ou a sua empresa, tenham interesse em patrocinar a Python Brasil 2024, a nossa proposta de patrocínio segue abaixo - avalie-a e entre em contato conosco através do e-mail <a href="mailto:eventos@python.org.br">eventos @ python.org.br</a> para saber como fazer parte desse evento.
      </p>
      <p>
        <a href="theme/media_kits/proposta-de-patrocinio-pybr-2024.pdf" target="_blank" class="btn btn-primary">
          plano de patrocínio (pt-br)
        </a>
      </p>
    </div>
  </div>
</section>
<!--<section id="programacao">
</section>
<section id="keynotes">
</section>
<section id="patrocinadores">
</section>
<section id="parceiros">
</section>
<section id="FAQ">
</section> -->
<footer id="footer">
  <div class="row">
    <div class="col-lg">
      <h4>Nossas Redes</h4>
      <ul class="list-group list-group-flush">
        {% if SOCIAL.twitter %}
        <li class="list-group-item">
          <a href="{{SOCIAL.twitter}}" target="_blank" class="icon twitter">
            {% include "svg/twitter.svg" %} Twitter
          </a>
        </li>
        {% endif %} {% if SOCIAL.facebook %}
        <li class="list-group-item">
          <a href="{{SOCIAL.facebook}}" target="_blank" class="icon facebook">
            {% include "svg/facebook.svg" %} Facebook
          </a>
        </li>
        {% endif %} {% if SOCIAL.instagram %}
        <li class="list-group-item">
          <a href="{{SOCIAL.instagram}}" class="icon instagram" target="_blank">
            {% include "svg/instagram.svg" %} Instagram
          </a>
        </li>
        {% endif %} {% if SOCIAL.linkedin %}
        <li class="list-group-item">
          <a href="{{SOCIAL.linkedin}}" class="icon linkedin" target="_blank">
            {% include "svg/linkedin.svg" %} Linkedin
          </a>
        </li>
        {% endif %} {% if SOCIAL.youtube %}
        <li class="list-group-item">
          <a href="{{SOCIAL.youtube}}" class="icon youtube" target="_blank">{% include "svg/youtube.svg" %} Youtube
          </a>
        </li>
        {% endif %} {% if SOCIAL.flickr %}
        <li class="list-group-item">
          <a href="{{SOCIAL.flickr}}" class="icon flickr" target="_blank">{% include "svg/flickr.svg" %} Flickr
          </a>
        </li>
        {% endif %} {% if SOCIAL.email %}
        <li class="list-group-item">
          <a href="{{SOCIAL.email}}" class="icon email" target="_blank">{% include "svg/envelope.svg" %} E-mail
          </a>
        </li>
        {% endif %} {% if SOCIAL.telegram %}
        <li class="list-group-item">
          <a href="{{SOCIAL.telegram}}" class="icon telegram" target="_blank">{% include "svg/telegram.svg" %}
            Telegram
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-lg">
      <h4>Links da APyB</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="http://python.org.br/"> APyB </a>
        </li>
        <li class="list-group-item">
          <a href="http://python.org.br/cdc/"> Código de conduta </a>
        </li>
        <li class="list-group-item">
          <a href="http://python.org.br/premio-dorneles-tremea-jean-ferri">
            Dorneles Tremea/Jean Ferri
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}