{% extends "theme/base.html" %}
{% block body%}
<section id="main" class="main">

  <section id="top">
  </section>
  <section id="wave">
  </section>
  <nav id="nav" class="nav flex-lg-row justify-content-evenly p-4">
    <div class="nav-item">
      <a class="nav-link" href="#local">O evento</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#patrocinio">Patrocine</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#patrocinio">Patrocinadores</a>
    </div>
  </nav>
  <section id="hero">
    <img src="./theme/images/hero.png" alt="python brasil - 16 a 21 de outubro de 2024  - rio de janeiro/rj" class="img-fluid">
  </section>
  <section id="actions">
    <div class="row justify-content-center">
      <div class="col-md-7">
          <div class="right">
            <div class="row text-center">
              <div class="col-lg-7 col-md-12 pt-lg-5">
                <p class="h3">centro de convenções bolsa do rio</p>
              </div>
              <div class="col-lg-5 col-md-12">
                <a href="https://pybr2024.eventbrite.com/" target="blank"><btn class="btn btn-secondary"><b>ingressos</b><br/>lote 1 - a partir de R$275</btn></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</section>
<div class="wave-section-divider"></div>
<div>
  <section id="local">
    <h1 class="text-center scroll-to"><img class="img-section-title" src=".\theme\images\evento.png" alt="O evento"/></h1>
    <div class="container sobre-container">
      <div>
        <h3 class="sobre-title">O maior evento de python da america latina</h3>
      </div>
      <div class="sobre-evento">
        <p>Feito pela comunidade para a comunidade, tem o objetivo de difundir a linguagem, disseminar conhecimento, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social.</p>
      </div>
    </div>
    <div class="container">
      <div class="row  d-flex flex-wrap">
        <div class="card col-md-3 flex-fill m-1">
          <h3>tutoriais - 16 e 17/10</h3>
          <p>Atividades práticas, gratuitas, para pessoas com diferentes níveis de conhecimento. Vagas limitadas - inscrições separadas das palestras.</p>
          <p>
            <a href="https://maps.app.goo.gl/Q13J8coLjCbuba6r8" target="_blank">Faculdade SENAC RJ</a>
            <br/>
            R. Santa Luzia, 735 - Centro
          </p>
        </div>
        <div class="card col-md-3 flex-fill m-1">
          <h3>palestras - 18, 19 e 20/10</h3>
          <p>Palestrantes convidados e palestrantes selecionados pela organização em conjunto com a comunidade.</p>
          <p>
            <a href="https://maps.app.goo.gl/qBX6vFPuYq48DkDEA" target="_blank">Centro de Convenções Bolsa do Rio</a>
            <br/>
            <b>Salão do Paço:</b> <span class="nowrap">R. do Mercado, 12 - Centro</span>
          </p>
        </div>
        <div class="card col-md-3 flex-fill m-1">
          <h3>sprints - 21/10</h3>
          <p>Colaboração em projetos open-source com mentores especializados nos projetos & core contributors.</p>
          <p>
            <a href="https://maps.app.goo.gl/e2KHMmvzxhSACbDy6" target="_blank">WeWork Almirante Barroso</a>
            <br/>
            <span class="nowrap">Av. Alm. Barroso, 81, Centro</span>
          </p>
          <p>
            Espaço cedido pelas nossas apoiadoras FIAP & Alura.
          </p>
        </div>
      </div>
      
      <div style="position: relative; width: 100%; height: 480px;">
        <iframe 
          src="https://www.google.com/maps/d/embed?mid=1zJ9Us-be5BwMb-XD-d2wchMIHaY_NKk&ehbc=2E312F" 
          width="100%" height="480" style="border:0;">
        </iframe>
      
        <!-- Sobreposição para ocultar a barra superior -->
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 65px; background-color: #121b31;"></div>
        
        <img src="./theme/images/pybr_red.png" alt="Logo Python Brasil 2024" 
             style="position: absolute; top: 90px; right: 30px; width: 100px; height: auto;">
      </div>
    </div>
  </section>

<div class="wave-section-divider orange"></div>
  
  <!--<section id="programacao">
</section>
<section id="parceiros">
</section>
<section id="FAQ">
</section> -->
</div>
<hr/>
<section id="patrocinio">
  <h1 class="text-center"><img class="img-section-title" src=".\theme\images\patrocinio.png" alt="Patrocinio"/></h1>
  <div class="container text-center">
    <p>Para fazer um evento desse porte acontecer, precisamos de patrocinadores. Se você ou sua empresa tem interesse em nos ajudar a fazer esse evento acontecer, entre em contato através do e-mail <a href="mailto:eventos@python.org.br">eventos@python.org.br</a></p>
    <a href="theme/media_kits/proposta-de-patrocinio-pybr-2024.pdf" target="_blank" class="btn btn-primary">
      proposta de patrocínio [pt]
    </a>
    <a href="theme/media_kits/sponsorship-proposal-pybr-2024.pdf" target="_blank" class="btn btn-primary">
      sponsorship proposal [en]
    </a>
  </div>
  <hr/>
  <section class="container text-center scroll-to">
    <h1 class="text-center"><img class="img-section-title" src=".\theme\images\patrocinadores.png" alt="Patrocinadores"/></h1>
    <!-- <section class="diamante">
      <h2>diamante</h2>
      <img src="theme/images/patrocinador-placeholder.png" alt="sua empresa aqui (diamante)">
    </section>
    <section class="platina">
      <h2>platina</h2>
      <img src="theme/images/patrocinador-placeholder.png" alt="sua empresa aqui (platina)">
      <img src="theme/images/patrocinador-placeholder.png" alt="sua empresa aqui (platina)">
    </section>-->
    <section class="ouro">
      <h1>ouro</h1>
      <div class="row">
        <a href="https://elastic.co" target="_blank">
          <img src="./theme/images/logo-elastic-horizontal-color-reverse.svg" alt="elastic">
        </a>
      </div>
    </section> 
    <section class="prata">
      <h1>prata</h1>
      <div class="row">
        <a href="https://lincolnloop.com" target="_blank">
          <img src="https://lincolnloop.com/static/assets/img/logo/lincolnloop-logo-full-white.d826b3e16074.svg" alt="lincoln loop">
        </a>
      </div>
    </section>
  </section>
  <hr/>
  <section class="container text-center support scroll-to">
    <h3>Apoio</h3>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <a href="https://novatec.com.br/" target="_blank">
          <img src="./theme/images/novatec.png">
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.senac.br" target="_blank">
          <img src="./theme/images/senac.svg">
        </a>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-2">
        <a href="https://www.fiap.com.br" target="_blank">
          <img src="./theme/images/fiap.svg">
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.alura.com.br" target="_blank">
          <img src="./theme/images/alura.svg">
        </a>
      </div>
    </div>
  </section>
  </div>
</section>
<footer>
  <div class="footer">
  <div class="footer__social">
    <img src="./theme/images/logo-ly.png" alt="logo do evento python brasil 2024" class="footer__logo">
    <ul class="footer__social-list">
      {% if SOCIAL.twitter %}
      <li class="list-group-item">
        <a href="{{SOCIAL.twitter}}" target="_blank">
          <i class="fa-solid fa-brands fa-twitter" alt="ícone twitter"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.facebook %}
      <li class="list-group-item">
        <a href="{{SOCIAL.facebook}}" target="_blank">
          <i class="fa-solid fa-brands fa-facebook" alt="ícone facebook"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.instagram %}
      <li class="list-group-item">
        <a href="{{SOCIAL.instagram}}" target="_blank">
          <i class="fa-solid fa-brands fa-instagram" alt="ícone instagram"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.linkedin %}
      <li class="list-group-item">
        <a href="{{SOCIAL.linkedin}}" target="_blank">
          <i class="fa-solid fa-brands fa-linkedin" alt="ícone linkedin"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.youtube %}
      <li class="list-group-item">
        <a href="{{SOCIAL.youtube}}" target="_blank">
          <i class="fa-solid fa-brands fa-youtube" alt="ícone youtube"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.flickr %}
      <li class="list-group-item">
        <a href="{{SOCIAL.flickr}}" target="_blank">
          <i class="fa-solid fa-brands fa-flickr" alt="ícone flickr"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.email %}
      <li class="list-group-item">
        <a href="{{SOCIAL.email}}" target="_blank">
          <i class="fa-solid fa-envelope" alt="ícone email"></i>
        </a>
      </li>
      {% endif %} {% if SOCIAL.telegram %}
      <li class="list-group-item">
        <a href="{{SOCIAL.telegram}}" target="_blank">
          <i class="fa-solid fa-brands fa-telegram" alt="ícone telegram"></i>
        </a>
      </li>
      {% endif %}
    </ul>
    <p class="footer__desc">
      Python Brasil é uma conferência sem fins lucrativos dirigida por voluntários para promover a linguagem de
      programação código aberto Python.
      A conferência é apoiada pela <a class="link-apyb" href="http://apyb.python.org.br">Associação Python Brasil (APyB)</a>.
    </p>
  </div>
  <div class="footer__address">
    <h2 class="text-light">Endereço do evento</h2>
    <address class="footer__address__location">
      <span>
        <i class="fa-solid fa-location-dot"></i> <b> Centro de Convenções Bolsa do Rio</b> <br/>
      </span>
      <span class="no-wrap">Edificio Bolsa do Rio</span><br/>
      <span class="no-wrap">Praça Quinze de Novembro, 20</span><br/>
      <span class="no-wrap">Centro, Rio de Janeiro - RJ, 20010-010, Brasil</span>
    </address>
  </div>
  <div class="footer__sitemap">
    <h2 class="text-light pb-4">Mapa do site</h2>
    <ul class="footer__sitemap-list">
      <li>
        <a href="#" class="footer__link">Início</a>
      </li>
      <li>
        <a href="#agenda" class="footer__link">Agenda</a>
      </li>
      <li>
        <a href="#local" class="footer__link">
          O evento
        </a>
      </li>
      <li>
        <a href="#patrocinio" class="footer__link">
          Patrocínio
        </a>
      </li>
    </ul>
  </div>
  </div>
  <div class="footer footer-row">
  <ul class="footer__links full-bled">
    <li>
      <a href="http://python.org.br/" class="footer__link">APyB</a>
    </li>
    <li>
      <a href="http://python.org.br/cdc/" class="footer__link"> Código de conduta </a>
    </li>
    <li>
      <a href="http://python.org.br/premio-dorneles-tremea-jean-ferri" class="footer__link">
        Prêmio Dorneles Treméa/Jean Ferri
      </a>
    </li>
  </ul>
  </div>
</footer>
{% endblock %}
