:root {
  --primary-paragraph-color: #12152d;
  --accent-primary-color: #f8a123;
  --accent-secondary-color: #f14529;
  --background-color: #121b31;
  --background-color-light: #233662;
  --background-color-dark: #02050e;
  --text-color: #fff;
  --text-color-light: #f8f8f8;
  --text-color-dark: #12152d;
  --text-color-accent: #f8a123;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

body {
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: block;
}

#lighter-section {
  background-color: var(--accent-primary-color);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.75rem;
}

#lighter-section p,
#lighter-section h2,
#lighter-section h1 {
  color: #12152d;
}

h1,
h2,
h3 {
  font-family: "Shinkoya", sans-serif;
  font-weight: bolder;
  color: #fff;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.fa-solid {
  color: #eebf23;
  filter: drop-shadow(#ec452f 1px 1px);
  margin-right: 0.3rem;
}

/* seção dos keynotes */

.keynotes-card {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: center;
  margin: 3.125rem 0
}

.keynotes-card.reverse {
  flex-direction: row-reverse;
}

.keynote-profile-s {
  text-align: left;
  margin-left: 1.25rem;
  margin-right: 14.125rem
}

.keynote-profile-e {
  text-align: right;
  margin-right: 1.25rempx;
  margin-left: 14.125rem
}

.link-container {
  display: flex; /* Coloca os itens lado a lado */
  align-items: center; /* Alinha os itens verticalmente */
}

.copa-waves {
  background: url("../images/ondas.png");
  height: 100px;
  background-position: center;
  background-repeat: repeat-x;
  opacity: 0.1;
}

@media (max-width: 768px) {
  .keynotes-card {
    flex-direction: column;
    margin: 2rem 0;
  }

  .keynotes-card.reverse {
    flex-direction: column; 
  }

  .keynote-profile-s,
  .keynote-profile-e {
    margin-left: 1rem; 
    margin-right: 1rem;
    text-align: center; 
  }

  .keynote-profile-s,
  .keynote-profile-e h3 {
    margin-top: 15px
  }

}

/* buttons */
.btn {
  margin: 0.5rem;
  padding: 1em;
  padding-right: 3em;
  background-image: url("../images/icon.png");
  border-radius: 0.2em;
  text-align: right;
  background-position: right;
  background-repeat: no-repeat;
  min-width: 10em;
  font-family: "Inter", sans-serif;
}

.btn.btn-primary {
  background-color: #57390c;
  border: #57390c;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited {
  margin: 0.5rem;
  background-color: #57390c;
  border: #57390c;
}

.btn.btn-secondary {
  background-color: #55180e;
  border: #55180e;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:visited {
  margin: 0.5rem;
  background-color: #55180e;
  border: #55180e;
}


#main {
  padding-bottom: 0;
}

#patrocinio .diamante img {
  width: 20em;
}

#patrocinio .platina img {
  width: 10em;
}

#patrocinio .ouro img {
  width: 15em;
}

#patrocinio .prata img {
  width: 10em;
}

#patrocinio .support img {
  width: 8em;
}

#sobre {
  color: #fff;
}

#sobre,
#footer {
  font-family: "Inter", sans-serif;
}

#sobre h1,
#sobre h2,
#sobre h3,
#footer h1,
#footer h2,
#footer h3 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

#patrocinio a,
#patrocinio a:visited,
#patrocinio a:active,
#patrocinio a:hover {
  color: white;
}
#patrocinio h2 {
  margin-top: 2em;
}

#sobre p {
  margin-bottom: 0.2rem;
}

#sobre .logo {
  width: 20em;
  text-align: center;
  margin-bottom: 2em;
}

#cidade .praia {
  height: 30rem;
  background-size: cover;
  background-image: url("../images/rj-picture.png");
  margin: 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  color: var(--text-color-light);
}

#local .card {
  background-color: #57390C;
  color: var(--text-color-light);
  height: 312px;
  padding: 32px;
}

#local .card a {
  color: var(--accent-primary-color);
}

#local .card h3 {
  color: #DCDBAD;
  font-weight: normal;
  text-align: center;
}

.footer {
  display: grid;
  padding: 1.5rem;
  background-color: #02050e;
  grid-template-columns: 40% 40% 20%;
}

.footer div {
  padding: 1.5rem;
}

.footer-row {
  display: block;
}

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links li {
  padding: 2em;
}

.footer__social-list {
  display: grid;
  max-width: 300px;
  grid-template-columns: repeat(8, 1fr);
}

.footer__logo {
  padding-bottom: 0.5rem;
}
.footer__desc {
  color: var(--text-color-light);

  font-size: smaller;
  text-align: start;
  max-width: 70%;
}

#patrocinio .img-section-title {
  height: 30px;
}


@media (max-width: 768px) {
  .footer__address,
  .footer__social,
  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }

  .footer__link,
  .text-light,
  .footer__desc {
    text-align: center
  }

  #patrocinio .img-section-title {
    height: 20px;
  }

}


.sticky {
  --bs-gutter-x: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--primary-paragraph-color);
  transition: all 0.5s;
}

.sticky + .content {
  padding-top: 102px;
}

.scroll-to {
  padding-top: 1em;
}

#evento {
  margin-top: 0px;
  padding: 0em;
}

body,
#hero,
#top,
#wave {
  background-color: #121b31;
  margin-top: 0px;
}

#top {
  background: url("../images/nav.png");
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wave {
  background: url("../images/wave-big.png");
  background-size: 150px 100%;
  height: 45px;
  background-position: center;
  background-repeat: repeat-x;
}

#actions {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Shinkoya", sans-serif;
}

#actions div,
#actions div div {
  height: max-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  padding-left: 0.3em;
}

#actions div div.left {
  background: var(--accent-primary-color);
  border-radius: 0.5em;
  height: max-content;
}

#actions div div.right {
  background: var(--accent-secondary-color);
  border-radius: 0.5em;
  color: var(--text-color);
  height: max-content;
}

#patrocinio {
  margin-top: 0;
}

#patrocinio section {
  margin-top: 4em;
}

#patrocinio .support {
  margin-bottom: 4em;
}

#patrocinio {
  background-color: var(--background-color);
  padding-bottom: 2em;
}

#patrocinio .btn.btn-primary {
  background-color: var(--background-color-light);
  border: var(--background-color);
}

#patrocinio .btn.btn-primary:hover,
#patrocinio .btn.btn-primary:active,
#patrocinio .btn.btn-primary:visited {
  margin: 0.5rem;
  background-color: var(--background-color-light);
  border: var(--background-color);
}

.nav {
  margin: 1rem 0;
  padding-bottom: 2em;
  font-family: "Shinkoya", sans-serif;
  font-size: 1.7rem;
  background-color: var(--background-color-light);
}

.nav-link,
.footer__address__location {
  color: white;
}

.link-apyb {
  color: white;
}

.footer__link {
  /* text-decoration: none; */
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.nav a:active,
.nav-link:focus {
  color: var(--accent-primary-color);
  box-shadow: var(--accent-primary-color);
}
.nav-link:hover {
  color: var(--accent-primary-color);
  border: 2px solid var(--accent-primary-color);
  border-radius: 8px;
  transition: ease-in 0.2;
}

.wave-section-divider {
  background: url("../images/section-divider.png");
  height: 222px;
  background-position: center;
  background-repeat: repeat-x;
}


.wave-section-divider.orange {
  background: url("../images/section-divider-orange.png");
}

#local .img-section-title {
  height: 50px;
}

.nowrap {
  white-space: nowrap;
}