body {
    background-color: #F1CF5D;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

.fa-solid {
    color: #EEBF23;
    filter:drop-shadow(#EC452F 1px 1px);
    margin-right: 0.3rem;
}


.btn {
    text-transform: lowercase;
} 

.btn.btn-primary {
    margin: 0.5rem;
    background-color: #EC452F;
    border: #cd3724;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:visited{
    margin: 0.5rem;
    background-color: #d13c28;
    border: #F1CF5D;
}


#sobre {
    background-image: url('/theme/images/bg-black.png');
    color: #fff;
}

#sobre p {
    margin-bottom: 0.2rem;
}

#footer {
    background-color: black;
    color: #fff;
}

#footer li {
    list-style-type: none;
    background-color: black;
    border: 0;
}

#footer .logo {
    width: 10em;
    margin-bottom: 1em;
    padding-left: 16px;
}

#footer p {
    font-size: smaller;
    padding-left: 16px;
    margin-top: 0.5em;
}

#footer a, #footer a:hover, #footer a:active, #footer a:visited{
    color: #fff;
}